@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
    font-family: 'Kalam', cursive;
}


body {
    background-color: #c40b0b; /*#e30b0b*/
}

h1 {
    text-align: center;
    font-size: xxx-large;
    margin-top: 10px;
    margin-bottom: 0px;
}

h1, p, label {
    color: #FFD700; /*Gold*/
    text-shadow: 2px 2px black;
}

button {
    font-size: large;
}

label, select {
    font-size: larger;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    /* Centre the canvas */
    margin: auto; 

    width: 720px; /* 1024px */
    height: 720px; /* 1024px */

    padding: 5px 5px;

    border: 3px solid white;
    background-color: white;
}

.box {
    outline: 1px solid black;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;

    margin-top: 5px;
    font-size: x-large;
}

.current-size {
    display: inline;
    text-align: center;
    margin-right: 50px;
    font-size: x-large;
}

.colours {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}